# Python / Bytecode
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Entornos
.venv/
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# SO
.DS_Store
Thumbs.db

# Datos reales (no subir)
tasks.json
expenses.csv
